<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="flaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Anaconda3\python.exe|D:\inetpub\wwwroot\grc\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
